body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

.center{
    display: flex;
    justify-content: center;
}

.button {
    
}

nav {
    
}

.nav-link {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    background-color: rgb(248, 39, 39);
    font-size: 20px;
    border: 1px solid rgb(239, 255, 14);
    border-radius: 10px;
    padding: 5px;
    margin: 50px;
}

h1 {

}

p {
    font-size: 20px;
}

.info {
   
}

article {
   
}

.article-but {
    
}

footer {
   
}

footer a {
    
}

footer p {
}

.logo{ 
    display: flex;
    justify-content: center;
}

.logo1{ 
    width: 300px;
}

.hero{
    background-color: rgb(133, 20, 20);
    color: rgb(251, 255, 0);
    width:500px;
    height: 500px;
    text-align: center;
    border-radius: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid rgb(251, 255, 0);
    margin: 20px;
}

.listc{
    margin-left: 50px;
    text-align: left;
}
